<div class="content sites">
  <ul class="container">
    <li class="site-container orange">
      <a href="tests.html">
        <%= render "shared/world_svg" %>
        <h3>www.<span>yisuscript</span>.com</h3>
      </a>
      <div class="bottom">
        <a href="#"><i class="icon-ellipsis-vert"></i></a>
      </div>
    </li>
  </ul>
</div>