
<body>

   <header class"container-fluid">  
          <div class="panel-defult">
            <div class"panel-body">
               <img src="http://fenitech.fenitech.cl/GAS/assets/up_1.jpg"alt="fondofenitech"  class="img-responsive"> 
            </div>          
                 <% if user_signed_in? %>
                
           
                  <button type="button" class="btn btn-default" aria-label ="Left Align">
                   <span> <%=link_to image_tag('/app/assets/images/start/salir.png'), destroy_user_session_path, method: :delete, data: {confirm: "Seguro que desea salir"}%></span>
                </button> 

               
                  <button type="button" class="btn btn-default" aria-label="Left Align">
                  <button type="button" onclick="alert('Bye-Bye')">Salir</button>
 
                  <span><%=link_to image_tag('persona.png'), entry_start_path %>
                  </span>
                </button>
                
                <% else %>                 
            <% end %>
          </div>

   </header>
     <section class"container-fluid">  
        <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="/entry/startsettings" class="thumbnail">
                <img src="http://www.wikiseo.ae/wp-content/uploads/seo-ab-testing.png" alt="..." class="img-responsive">
              </a>
            </div>
        
            <div class="col-xs-6 col-md-3">
               <a href="#" class="thumbnail">
                <img src="http://www.taxandadvise.it/wp-content/uploads/2011/03/Websites.jpg" alt="..." class="img-responsive">
               </a>
            </div>
        </div>  
   </section>

</body>
  	
   