<body>

<h1>
Bienvenido a las configuraciones de su sistema
</h1>
		
<div class="col-xs-6 col-md-3">
              <a href="/entry/startsettings" class="thumbnail">
                <img src="http://www.wikiseo.ae/wp-content/uploads/seo-ab-testing.png" alt="..." class="img-responsive">
              </a>
</div>
        
</body>